<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901419275777-skc37ej6gg87i9d9qlr0hjh7gultd0vs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901419275777-skc37ej6gg87i9d9qlr0hjh7gultd0vs</string>
	<key>API_KEY</key>
	<string>AIzaSyDiccqpT4T2Mr5EtqDSLcW-ujzHIa2Ofb4</string>
	<key>GCM_SENDER_ID</key>
	<string>901419275777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.MyEx</string>
	<key>PROJECT_ID</key>
	<string>myextest-e65b6</string>
	<key>STORAGE_BUCKET</key>
	<string>myextest-e65b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901419275777:ios:d8146e4560207bbf4bd200</string>
</dict>
</plist>